.userInterface{
    text-align: center;
    .userContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .image{
            text-align: left;
            width: 100%;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: 35vw;
                object-fit: cover;
                object-position: center;
                
            }
            .overlayTextImage{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(256,256,256,0.75);
                p{
                    margin: 15px;
                    padding: 5px;
                    margin-bottom: 0;
                    background: #4a4a4a;
                    display: inline-block;
                    color: white;
                }
                strong{
                    display: block;
                    padding: 15px;
                    color: $title-color;
                }
            }
        }
        .colorCards{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            .colorCard{
                display: flex;
                align-items: center;
                background: $h-f-bg-color;
                border: $border;
                height: 100px;
                border-radius: 20px;
                overflow: hidden;
                .color{
                    height: 100%;
                    width: 20%;
                    display: inline-block;
                }
                .Lime{
                    background: lime;
                }
                .Vert{
                    background: green;
                }
                .AvoGre{
                    background: #568203;
                }
                strong{
                    padding: 20px;
                    background: $h-f-bg-color;
                    color: $title-color;
                    vertical-align: center;
                    width: 80%;
                }
            }
            
        }
    }
    .button{
        width: 33%;
        margin-top: 40px;
    }
}