$bg-color:#041c26;
$color: #0c8c75;

*{
    margin: 0;
    padding: 0;
}

body{
    background: $bg-color;
    color: white;
    header{
        position: sticky;
        top: 0;
        z-index: 1000;
        .header{
            background: $color;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            img{
                width: 100px;
            }
            nav{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                a{
                    align-content:center;
                    text-decoration:none;
                    color:white;
                }
            }
        }
    }
    .container{
        width: 80%;
        margin: 0 auto;
        strong:first-of-type{
            color: $color;
        }
        .intro{
            text-align: center;
            color: white;
            margin: 30px 0;
            h1{
                color: $color;
                margin: 20px 0 10px 0;
            }
        }
        .cards{
            margin-top: 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, calc(100% / 3));
            .card{
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover{
                    .texte{
                         translate:0 -100%;
                    }
                }
                img{
                    width: 100%;
                }
                .texte{
                    position:absolute;
                    top:100%;
                    left:0;
                    background:white;
                    padding:10px;
                    color:black;
                    width:100%;
                    transition: translate 0.3s ease-in;
                }
            }
        }
    }
}