.container{
    width:80%;
    margin:0 auto;
}
form{
    display:grid;
    grid-template-columns:repeat(2, 1fr)
}
h1{
    font-size:1.5em;
    margin:10px;
}
input{
    border:0;
}
input[type="text"]{
    width:100%;
    box-sizing:border-box;
    border:1px solid black;
    padding:5px;
}
input[type="radio"], input[type="checkbox"]{
    display:inline-block;
    max-width: max-content;
}
.title{
    text-align:center;
}
label{
    width:100%;
    display:block;
}
select{
    display: block;
    width: 100%;
    border:0;
}

.information-box{
    grid-column:1 / 3;
}
.website-name,.website-url{
    width: 50%;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 5px 5px 5px;
}
.accessibility-box div, .function-box div{
    border:1px solid black;
    margin: 5px;
    box-sizing:border-box;
    padding: 0px 5px 5px 5px;
}

.technology{
    grid-column:1 / 3;
}