body{
    margin:0;
    border-left:15px solid black;
    border-right:15px solid black;
}
h1,
h2,
h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    text-align: center;
}

h3{
    display:inline;
}
body > header{
    background-image: url(imgs/banniere-inclusivite.jpg);
    background-position:center;
    color: white;
    box-sizing: border-box;
}
.opacity{
    background-color:rgba(0,0,0,0.5);
    height:100%;
    padding: 30px 0;
}
img {
    height: 150px;
    float:left;
    padding-top:0px;
}

.women-article img {
    float: right;
    padding:0px 0px 20px 20px;
    border-top-right-radius:20px;
}
.men-article img {
   padding:0px 20px 20px 0px;
   border-top-left-radius:20px;
    
}
p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

article{
    margin: 40px 1.25%;
    background-color: rgb(211,211,211);
    border:2px solid rgb(169,169,169);
    border-radius: 20px;
}

.women-article, .men-article{padding:30px;}


.men-article, .women-article{
    width:47.5%; 
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.women-article a{
    color: white;
    background: #ff1493;
}
.container{
    width: 80%;
    margin: 0px auto;
    white-space: normal;
}

a {
    color: white;
    background: blue;
    text-decoration: none;
    display: inline-block;
    margin: 20px 20px 20px 0px;
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 0.75em;
}
.citation{
    margin-top: 20px ;
    font-size: smaller;
    text-align: center;
}
h1 + ul{
    list-style: none;
    text-align: center;
    margin-bottom:20px;
}
article ul{
    list-style: none;
    margin-bottom:20px;
    list-style-type: upper-alpha;
}
ol{
    list-style-type: upper-roman; /* Utilise des chiffres romains en majuscules */
}
blockquote{
    margin-bottom: 0px;
}