@keyframes defile {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 100%;
        }
    }
.error-page {
    color: $color-text;
    background-image: url(../media/images/fond-404.png);
    background-repeat: repeat-y;
    background-size: cover;
    animation: defile 40s linear infinite;
    
    .overlay {
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .error-content {
            text-align: center;
        }
    }

    h1 {
        display:inline-block;
        text-align: center;
        font-size: 120px;
    }
    svg{
        fill: white;
        display:inline-block;
        width: 120px;
        
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 16px;
    }
    .btn {
        padding: 10px;
        margin-top: 20px;
        background: $color-light-bg;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }
}
