@mixin responsive($breakpoint){
    @if $breakpoint == tablet {
        @media screen and (min-width: 430px) and (max-width: 1023px){
            @content;
        }
    }
    @else if $breakpoint == laptop {
        @media screen and (min-width: 1024px){
            @content;
        }
    }
}
@import 'colors';

@import 'header';
@import 'index';
@import 'a-propos';
@import 'contact';
@import 'connexion';
@import 'Menu-Panier/panier';
@import 'Menu-Panier/carte-menu';
@import 'commandes';
@import '404';
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}