.brandCard{
    width: 100%;
    border-radius: 20px;
    border: $border;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .brandName{
        width: 100%;
        height: max-content;
        background: $h-f-bg-color;
        strong{
            color: $txt-color;
            display: inline-block;
            padding: 20px 0 1em 1em;
        }
    }
}